body{
    .class="cartao"{border-radius: .class;
    border: 50px;}
 
}
h1{color:blue;font-size: 50px;}
p{font-size: 20px;text-align: left;}
div{background-color: aqua; border-radius: 50px;border: 50px;text-align:center;width: 500px;height: 500px;}